body {
    padding: 0;
    margin: 0;
    background-color: #00F;
}

@media not all and (min-width: 640px) {

    /* 64px x 64px elements */

    #table {
        width: 320px;
        height: 384px;
    }
}

@media only screen and (min-width: 640px) {
    #table {
        width: 480px;
        height: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    #table {
        width: 640px;
        height: 800px;
    }
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #F00;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-radius: 7px;
    gap: 0.75em;
    padding: 0.75em;
}

#table div {
    background-color: white;
    border-radius: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    grid-column: span 5;
    grid-row: span 2;
    background-color: #00F;
}

#tall-button {
    grid-row: -3 / -1;
    grid-column: -2 / -1;
}